# /usr/lib/systemd/system/freeradius.service
[Unit]
Description=FreeRADIUS high performance RADIUS server.
After=network.target
Documentation=man:radiusd(8) man:radiusd.conf(5) https://wiki.freeradius.org/Home https://networkradius.com/freeradius-documentation/

[Service]
Type=forking
PIDFile=/run/radiusd/radiusd.pid
ExecStartPre=/usr/bin/radiusd -C
ExecStart=/usr/bin/radiusd -d /etc/raddb
ExecReload=/usr/bin/radiusd -C
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2
ProtectSystem=full
ProtectHome=on

[Install]
WantedBy=multi-user.target

# /etc/systemd/system/freeradius.service.d/override.conf
[Service]
ExecStartPre=+/bin/chown -R radiusd:radiusd /var/log/radius
ExecStopPost=+/bin/chown -R radiusd:radiusd /var/log/radius
User=radiusd
Group=radiusd
UMask=077
CapabilityBoundingSet=
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateIPC=true
PrivateUsers=true
PrivateTmp=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
PrivateDevices=true
DeviceAllow=/dev/urandom r
DeviceAllow=/dev/random r
ProtectHostname=true
ProtectSystem=strict
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
RemoveIPC=true
Restart=always
RestartSec=1
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@clock @cpu-emulation @debug @keyring @module @mount @obsolete @privileged @raw-io @reboot @swap @setuid
SystemCallFilter=@system-service
SystemCallFilter=~@debug @module @mount @obsolete @reboot @swap @resources
SystemCallErrorNumber=EPERM

ReadOnlyPaths=/etc/raddb/certs/server.crt /etc/raddb/certs/server.csr /etc/raddb/certs/server.key /etc/raddb/certs/server.p12 /etc/raddb/certs/server.pem
ReadOnlyPaths=/etc/raddb/certs/ca.pem /etc/raddb/certs/ca.crl /etc/raddb/certs/cacrl.pem
ReadWritePaths=/var/log/radius/radius.log

# Key security
InaccessiblePaths=/etc/raddb/certs/ca.key /etc/raddb/certs/01.pem /etc/raddb/.git /etc/raddb/certs/.git /etc/raddb/.gitignore

AppArmorProfile=/etc/apparmor.d/usr.bin.radiusd
