# /usr/lib/systemd/system/freeradius.service
[Unit]
Description=FreeRADIUS high performance RADIUS server.
After=syslog.target network.target
Documentation=man:radiusd(8) man:radiusd.conf(5) https://wiki.freeradius.org/Home https://networkradius.com/freeradius-documentation/

[Service]
Type=forking
PIDFile=/run/radiusd/radiusd.pid
ExecStartPre=/usr/bin/radiusd -C
ExecStart=/usr/bin/radiusd -d /etc/raddb
ExecReload=/usr/bin/radiusd -C
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2
ProtectSystem=full
ProtectHome=on

[Install]
WantedBy=multi-user.target

# /etc/systemd/system/freeradius.service.d/override.conf
[Service]
UMask=077
CapabilityBoundingSet=CAP_DAC_OVERRIDE
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateIPC=true
PrivateTmp=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
PrivateDevices=true
ProtectHostname=true
ProtectSystem=full
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
RemoveIPC=true
Restart=always
RestartSec=1
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=@system-service @setuid
SystemCallFilter=~@debug @module @mount @obsolete @reboot @swap @resources
SystemCallErrorNumber=EPERM

# Key security
InaccessiblePaths=/etc/raddb/certs/ca.key /etc/raddb/certs/01.pem
ReadOnlyPaths=/etc/raddb/certs/server.crt /etc/raddb/certs/server.csr /etc/raddb/certs/server.key /etc/raddb/certs/server.p12 /etc/raddb/certs/server.pem
ReadOnlyPaths=/etc/raddb/certs/ca.pem /etc/raddb/certs/ca.crl /etc/raddb/certs/cacrl.pem

AppArmorProfile=/etc/apparmor.d/usr.bin.radiusd
